<section>
  <div class="p-5">
    <div>
      <h4 class="label text-center">
        <i class="fa-sharp fa-light fa-bars-staggered"></i> SERVICES
      </h4>
      <h1 class="intro fw-ligh">
        My <span class="name">Specializations</span>
      </h1>
      <div class="service mb-3">
        <div class="d-flex justify-content-between">
          <h2>Website Design</h2>
          <i class="fa-regular icon fa-bezier-curve"></i>
        </div>
        <p>I created digital products with unique ideas use Figma & Framer</p>
      </div>
      <div class="service mb-3">
        <div class="d-flex justify-content-between">
          <h2>Development</h2>
          <i class="fa-light icon fa-code"></i>
        </div>
        <p>I build website go live with Framer, Webflow or WordPress</p>
      </div>
    </div>
  </div>
</section>
