<section class="py-3 px-xl-5 py-xm-3">
  <div class="p-md-5 px-lg-0 skill-main">
<div class="px">
  <div>
    <h4 class="label text-center">
      <i class="fa-sharp fa-light fa-shapes"></i> SKILLS
    </h4>
    <h1 class="skill-h fw-ligh mb-5">
      My <span class="name">Advantages</span>
    </h1>
  </div>
  <div class="row ">
    <div class="col-6 col-xl-3 px-xl-4 col-lg-3 col-md-3 text-center mb-3">
      <div class="skill">
        <img class="img" src="../../../assets/img/html.png" alt="" />
        <h1 class="percent">55%</h1>
      </div>
      HTML
    </div>
    <div class="col-6 col-xl-3 px-xl-4 col-lg-3 col-md-3 text-center mb-3">
      <div class="skill">
        <img class="img" src="../../../assets/img/css.png" alt="" />
        <h1 class="percent">50%</h1>
      </div>
      CSS
    </div>
    <div class="col-6 col-xl-3 px-xl-4 col-lg-3 col-md-3 text-center mb-3">
      <div class="skill">
        <img class="img" src="../../../assets/img/javaScript.png" alt="" />
        <h1 class="percent">10%</h1>
      </div>
      JavaScript
    </div>
    <div class="col-6 col-xl-3 px-xl-4 col-lg-3 col-md-3 text-center mb-3">
      <div class="skill">
        <img class="img" src="../../../assets/img/bootstrap.png" alt="" />
        <h1 class="percent">45%</h1>
      </div>
      Bootstrap
    </div>
    <div class="col-6 col-xl-3 px-xl-4 col-lg-3 col-md-3 text-center mb-3">
      <div class="skill">
        <img src="../../../assets/img/figma.png" alt="" />
        <h1 class="percent">60%</h1>
      </div>
      Figma
    </div>
    <div class="col-6 col-xl-3 px-xl-4 col-lg-3 col-md-3 text-center mb-3">
      <div class="skill">
        <img class="img" src="../../../assets/img/tailwindCss.png" alt="" />
        <h1 class="percent">40%</h1>
      </div>
      TailwindCSS
    </div>
  </div>
</div>
  </div>
</section>
