<section class="py-5 py-xm-3">
  <div class="p-5 skill-main">
    <div>
      <h4 class="label text-center">
        <i class="fa-sharp fa-light fa-shapes"></i> SKILLS
      </h4>
      <h1 class="skill-h fw-ligh mb-3">
        My <span class="name">Advantages</span>
      </h1>
    </div>
    <div
      class="row mt-5 gap-md-5 gap-sm-5 my-2 d-flex justify-content-center mx-2"
    >
      <div class="col-sm-4 col-xl-3 col-md-3 text-center mb-3">
        <div class="skill py-5">
          <img class="img" src="../../../assets/img/html.png" alt="" />
          <h1 class="percent">55%</h1>
        </div>
        HTML
      </div>
      <div class="col-sm-4 col-xl-3 col-md-3 text-center mb-3">
        <div class="skill py-5">
          <img class="img" src="../../../assets/img/css.png" alt="" />
          <h1 class="percent">50%</h1>
        </div>
        CSS
      </div>
      <div class="col-sm-4 col-xl-3 col-md-3 text-center mb-3">
        <div class="skill py-5">
          <img class="img" src="../../../assets/img/javaScript.png" alt="" />
          <h1 class="percent">10%</h1>
        </div>
        JavaScript
      </div>
      <div class="col-sm-4 col-xl-3 col-md-3 text-center mb-3">
        <div class="skill py-5">
          <img class="img" src="../../../assets/img/bootstrap.png" alt="" />
          <h1 class="percent">45%</h1>
        </div>
        Bootstrap
      </div>
      <div class="col-sm-4 col-xl-3 col-md-3 text-center mb-3">
        <div class="skill py-5">
          <img src="../../../assets/img/figma.png" alt="" />
          <h1 class="percent">60%</h1>
        </div>
        Figma
      </div>
      <div class="col-sm-4 col-xl-3 col-md-3 text-center mb-3">
        <div class="skill py-5">
          <img class="img" src="../../../assets/img/tailwindCss.png" alt="" />
          <h1 class="percent">40%</h1>
        </div>
        TailwindCSS
      </div>
    </div>
  </div>
</section>
