.label {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0px 0px 53px;
  padding: 9px 20px;
  border: 1px solid #565656;
  border-radius: 30px;
  width: 150px;
}
.name {
  color: #28e98c;
}
.intro {
  font-size: 48px;
  margin-bottom: 33px;
}
.skill {
  border-radius: 40px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  border: 2px solid #999999;
  margin-bottom: 20px;
}
.skill:hover {
  border: 2px solid #28e98c;
}
.percent {
  color: #28e98c;
  font-size: 30px;
  margin-top: 30px;
}
.img {
  height: 60px;
  width: 70px;
}
