<section class="py-5">
  <div class="p-5">
    <div>
      <h4 class="label text-center">
        <i class="fa-sharp fa-light fa-shapes"></i> SKILLS
      </h4>
      <h1 class="intro fw-ligh mb-3">
        My <span class="name">Advantages</span>
      </h1>
    </div>
    <div class="row mt-5 gap-xl-5 gap-2 my-2 d-flex justify-content-center">
      <div class="col-sm-5 col-xs-12 col-xl-3 col-md-4 text-center py-5 skill">
        <img src="../../../assets/img/figma.png" alt="" />
        <h1 class="percent">45%</h1>
      </div>
      <div class="col-sm-5 col-xs-12 col-xl-3 col-md-4 text-center py-5 skill">
        <img src="../../../assets/img/figma.png" alt="" />
        <h1 class="percent">45%</h1>
      </div>
      <div class="col-sm-5 col-xs-12 col-xl-3 col-md-4 text-center py-5 skill">
        <img src="../../../assets/img/figma.png" alt="" />
        <h1 class="percent">45%</h1>
      </div>
    </div>
  </div>
</section>
