<section class="py-5 px-lg-5 py-xm-3">
  <div class="py-3 px-lg-0 resume-main">
    <div class="px">
      <div>
        <h4 class="label text-center">
          <i class="fa-sharp fa-light fa-briefcase me-1"></i> RESUME
        </h4>
        <h1 class="resume fw-ligh">
          Education & <span class="name">Experience</span>
        </h1>
      </div>
      <ul class="timeline">
        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">2021 - Present</p>
            <h2>Web Developer</h2>
            <p>Envato Market</p>
          </div>
        </li>
        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">2021 - Present</p>
            <h2>Web Developer</h2>
            <p>Envato Market</p>
          </div>
        </li>
        <li class="timeline-event">
          <label class="timeline-event-icon"></label>
          <div class="timeline-event-copy">
            <p class="timeline-event-thumbnail">2021 - Present</p>
            <h2>Web Developer</h2>
            <p>Envato Market</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
