<section>
  <div class="p-5">
    <div>
      <h4 class="label text-center">
        <i class="fa-sharp fa-light fa-briefcase me-1"></i> RESUME
      </h4>
      <h1 class="intro fw-ligh">
        Education & <span class="name">Experience</span>
      </h1>
    </div>
    <ul class="timeline">
      <li class="timeline-event">
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
          <p class="timeline-event-thumbnail">2021 - Present</p>
          <h2>Web Developer</h2>
          <p>Envato Market</p>
        </div>
      </li>
      <li class="timeline-event">
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
          <p class="timeline-event-thumbnail">2021 - Present</p>
          <h2>Web Developer</h2>
          <p>Envato Market</p>
        </div>
      </li>
      <li class="timeline-event">
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
          <p class="timeline-event-thumbnail">2021 - Present</p>
          <h2>Web Developer</h2>
          <p>Envato Market</p>
        </div>
      </li>
    </ul>
  </div>
</section>
