.label {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0px 0px 53px;
  padding: 9px 20px;
  border: 1px solid #565656;
  border-radius: 30px;
  width: 150px;
}
.name {
  color: #28e98c;
}
.about {
  color: #ffff;
  font-size: 48px;
  margin-bottom: 33px;
}
.intro-p {
  font-size: 16px;
  color: #999999;
  margin-bottom: 31px;
  padding-right: 80px;
}
