<section class="py-5">
  <div class="p-5 p-xs-0">
    <div>
      <h4 class="label text-center">
        <i class="fa-thin fa-user"></i> INTRODUCE
      </h4>
      <h1 class="about pe-xl-5">
        Every great design begin with an even
        <span class="name">better story</span>
      </h1>
      <p class="intro-p">
        Since beginning my journey as a freelance designer nearly 8 years ago,
        I've done remote work for agencies, consulted for startups, and
        collaborated with talented people to create digital products for both
        business and consumer use. I'm quietly confident, naturally curious, and
        perpetually working on improving my chopsone design problem at a time.
      </p>
    </div>
  </div>
</section>
