<section>
  <div class="sidebar fixed-lg rounded-5" style="background-color: black; padding: 30px; ">
    <div class="card-h">
      <div class="fs-2 text-center fw-semibold">Abdul Salam</div>
      <div class="text-center mb-3">
        <span class="fs-6">Web Developer</span>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img style="margin-bottom: 35px"class="rounded-5 my-img"src="../../../assets/img/My-modified.jpg"alt=""/>
    </div>
    <div class="text-center mb-4 card-data">
      <h5 class="info ">+92 319 3346237</h5>
      <h2 class="fs-4 info">a.salamkz11&#64;gmail.com</h2>
      <h2 class="fs-4 m-0 info">Karachi, Pakistan</h2>
    </div>
    <div class="d-flex media gap-2 justify-content-center  mx-md-4 mb-3">
      <div class="icon-div text-center">
        <i class="fa-brands fa-x-twitter mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-instagram mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-upwork mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-github mt-3"></i>
      </div>
    </div>
    <div class="mb-3 btn-xl">
      <button class="d-flex justify-content-center btn w-100 btn-color text-center rounded-pill">
        <i class="fa-thin fa-envelope me-3" style="font-size: 20px; margin-top: 1px"></i>
        Hire Me!
      </button>
    </div>
  </div>
</section>