@media only screen and (min-width: 1200px) {
  .fixed-lg {
    position: fixed !important;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 350px;
  }
}
.sidebar{
  border: 1px solid #565656;
}
h1{
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}
span{
  width: 25px !important; 
}
p{
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}
.my-img{
  width: 100%;
  max-width: 250px;
 margin: auto;
  margin-bottom: 46px; 
}
img{
  border-radius: 20px;
}
h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.icon-div {
  height: 50px !important;
  width: 50px;
  color: #767882;
  border: 2px solid #767882;
  border-radius: 25px;
}
.icon-div:hover {
  border: 2px solid #28e98c;
  color: #28e98c;
}
.btn-color {
  background-color: #28e98c;
  color: black;
  padding: 11px 58px 10px;
  font-size: 16px;
  border: 2px solid #28e98c !important;
}
.btn-color:hover {
  background-color: transparent;
  color: #28e98c !important;
  border: 2px solid #28e98c !important;
}