@media only screen and (min-width: 1200px) {
  .position-fixed-lg {
    position: fixed !important;
  }
}
.icon-div {
  height: 50px !important;
  color: #767882;
  width: 50px;
  border: 2px solid #767882;
  border-radius: 25px;
  margin-left: 20px;
}
.icon-div:hover {
  border: 2px solid #28e98c;
  color: #28e98c;
  cursor: pointer;
}
.btn-color {
  background-color: #28e98c;
  color: black;
  padding: 11px 58px 10px;
  font-size: 16px;
}
.btn-color:hover {
  background-color: transparent;
  color: #28e98c;
  border: 2px solid #28e98c;
}
