<section>
  <div class="border sidebar border-secondary position-fixed-lg p-2 rounded mt-xl-0" style="background-color: black ; margin-top: 2px !important;">
    <div class="d-flex m-xl justify-content-between mb-3">
      <div class="fs-2 fw-semibold">Abdul Salam</div>
      <div class="mt-xl-3 mt-2">
        <span class="fs-6">Web Developer </span>
      </div>
    </div>
    <div class="d-flex m-xl justify-content-center">
      <img
        style="margin-bottom: 35px"
        class="rounded"
        src="../../../assets/img/My.jpg"
        alt=""
      />
    </div>
    <div class="text-center m-xl mb-4">
      <h5 class="info ">+92 319 3346237</h5>
      <h2 class="fs-4 info">a.salamkz11&#64;gmail.com</h2>
      <h2 class="fs-4 m-0 info">Karachi, Pakistan</h2>
    </div>
    <div class="d-flex justify-content-center m-xl mx-md-4 mb-3">
      <div class="icon-div text-center">
        <i class="fa-brands fa-x-twitter mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-instagram mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-upwork mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-github mt-3"></i>
      </div>
    </div>
    <div class="mb-3 m-xl">
      <button
        class="d-flex justify-content-center btn w-100 btn-color text-center rounded-pill"
      >
        <i
          class="fa-thin fa-envelope me-3"
          style="font-size: 20px; margin-top: 1px"
        ></i>
        Hire Me!
      </button>
    </div>
  </div>
</section>
