<!-- <section>
  <div class="sidebar fixed-lg p-2 rounded-5 mt-1 ms-lg-2" style="background-color: black ">
    <div class="d-flex justify-content-between mb-3 card-h">
      <div class="fs-2 fw-semibold">Abdul Salam</div>
      <div class="mt-xl-3 mt-2">
        <span class="fs-6">Web Developer </span>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <img
        style="margin-bottom: 35px"
        class="rounded"
        src="../../../assets/img/My.jpg"
        alt=""
      />
    </div>
    <div class="text-center mb-4 card-data">
      <h5 class="info ">+92 319 3346237</h5>
      <h2 class="fs-4 info">a.salamkz11&#64;gmail.com</h2>
      <h2 class="fs-4 m-0 info">Karachi, Pakistan</h2>
    </div>
    <div class="d-flex media justify-content-center mx-md-4 mb-3">
      <div class="icon-div text-center">
        <i class="fa-brands fa-x-twitter mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-instagram mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-upwork mt-3"></i>
      </div>
      <div class="icon-div text-center">
        <i class="fa-brands fa-github mt-3"></i>
      </div>
    </div>
    <div class="mb-3 btn-xl">
      <button
        class="d-flex justify-content-center btn w-100 btn-color text-center rounded-pill"
      >
        <i class="fa-thin fa-envelope me-3" style="font-size: 20px; margin-top: 1px"></i>
        Hire Me!
      </button>
    </div>
  </div>
</section> -->
<section>
  <div class="fixed-lg sidebar rounded-5">
    <div class="my-1 px-4 mx-3 py-2">
      <div class="d-flex justify-content-between">
        <h1>AbdulSalam</h1>
        <p>Web Developer</p>
      </div>
      <div class="my-img">
        <img src="../../../assets/img/My.jpg" alt="">
      </div>
      <div class="text-center">
        <h2>+92 319 3346237</h2>
        <h2>a.salamkz11&#64;gmail.com</h2>
        <h2>Karachi, Pakistan</h2>
      </div>
      <div class="d-flex media justify-content-center my-3">
        <div class="icon-div text-center me-2 m-0 ">
          <i class="fa-brands fa-x-twitter mt-3"></i>
        </div>
        <div class="icon-div text-center me-2 m-0 ">
          <i class="fa-brands fa-instagram mt-3"></i>
        </div>
        <div class="icon-div text-center me-2 m-0 ">
          <i class="fa-brands fa-upwork mt-3"></i>
        </div>
        <div class="icon-div text-center me-2 m-0 ">
          <i class="fa-brands fa-github mt-3"></i>
        </div>
      </div>
      <div>
        <button class="d-flex justify-content-center btn w-100 btn-color rounded-pill">
          <i class="fa-thin fa-envelope me-3" style="font-size: 20px; margin-top: 1px"></i>
          Hire Me!
        </button>
      </div>
    </div>
  </div>
</section>