/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import url(../src/assets/font_scss/brands.scss);
@import url(../src/assets/font_scss/fontawesome.scss);
@import url(../src/assets/font_scss/regular.scss);
@import url(../src/assets/font_scss/solid.scss);
@import url(../src/assets/font_scss/v4-shims.scss);
@import url(../src/assets/font_scss/sharp-light.scss);

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}
