<section>
  <div class="p-5 portfolio-main">
    <div>
      <h4 class="label text-center">
        <i class="fa-sharp fa-light fa-grip-vertical"></i> PORTFOLIO
      </h4>
      <h1 class="portfolio-h fw-ligh mb-3">
        Featured<span class="name">Projects</span>
      </h1>
    </div>
    <div class="project mt-5 rounded">
      <div class="mb-5 ms-5">
        <span class="ms-1 tags text-center bg-white"> HTML </span>
        <span class="ms-1 tags text-center bg-white"> CSS </span>
      </div>
    </div>
  </div>
</section>
