.label {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin-bottom: 53px;
  display: inline-flex;
  align-items: center;
  width: 135px;
}
.intro-main{
  max-width: 800px;
  width: 100%;
}
.name {
  color: #28e98c;
}
.intro {
  font-size: 78px;
    letter-spacing: -0.2px;
    line-height: 90px;
    margin-bottom: 43px;
}
.intro-p {
  max-width: 480px;
  font-size: 16px;
  color: #999999;
  margin-bottom: 31px;
}
.px{
  padding: 0px 36px;
}
@media only screen and (max-width: 600px){
  .px{
    padding: 0px;
  }
}
.year {
  font-size: 72px;
    letter-spacing: -0.2px;
    line-height: 56px;
    margin-bottom: 38px;
    color: #28e98c;
}
.year-p {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999999;
}
@media only screen and (min-width: 1216px) {
.intro{
  width: 648px;
}
}
@media only screen and (max-width: 450px) {
  .label {
    font-size: 10px;
    margin-bottom: 30px;
  }
  .intro {
    font-size: 36px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 10px;
  }
  .intro-p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .intro-main{
    padding: 10px !important;
  }
  .roll-div{
    margin-left: auto !important;
  }
}

.roll-div {
  width: 175px;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70%;
  border-radius: 50%;
  border: 1px solid #575757;
  position: relative;
  margin-right: 20px;
}
.roll-div:hover{
  border: 2px solid #28e98c;
}
.roll-img {
  animation: spin 6s linear infinite;
  height: 141px;
  width: 148px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.arrow {
  position: absolute;
  font-size: 40px;
}
