<section class="py-5 py-xm-3">
  <div class="p-5 intro-main">
    <div>
      <h4 class="label text-center">
        <i class="fa-light fa-house"></i> INTRODUCE
      </h4>
      <h1 class="intro fw-light mb-3">
        Say Hi from <span class="name">Abdul Salam</span>, Web Developer
      </h1>
      <p class="intro-p">
        I design and code beautifully simple things and i love what i do. Just
        simple like that!
      </p>
    </div>
    <div class="roll-div d-flex text-center">
      <img
        class="roll-img"
        src=".././/../../assets/img/round-text.png"
        alt=""
      />
      <i class="fa-sharp fa-light arrow fa-arrow-down"></i>
    </div>
  </div>
</section>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
