<section class="py-5 px-xl-5 ">
  <div class="p-4 px-lg-0 intro-main">
    <div class="px-xl-5">
      <h4 class="label text-center">
        <i class="fa-light fa-house me-2"></i> INTRODUCE
      </h4>
      <h1 class="intro fw-light mb-3">
        Say Hi from <span class="name">Abdul Salam</span>, Web Developer
      </h1>
      <p class="intro-p">
        I design and code beautifully simple things and i love what i do. Just
        simple like that!
      </p>
    </div>
    <div class="roll-div d-flex text-center px-3">
      <img
        class="roll-img"
        src=".././/../../assets/img/round-text.png"
        alt=""
      />
      <i class="fa-sharp fa-light arrow fa-arrow-down"></i>
    </div>
  </div>
</section>
